body {
    color: #1f1e1e;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  /* .content-footer, */
  .tophead-heading,
  .tophead-intro {
    text-align: center;
  }
  
  /* .tophead {
    padding: 6em 0;
    border-top: solid 1em #04362b;
  } */
  
  .tophead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
  }
  
  .tophead-heading {
    color: #f1c863;
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  
  .about-section,
  .hobbies-section,
  .course-section,
  .plan-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  
  .about-section > p,
  .hobbies-section > p,
  .course-section,
  .plan-section > p,
  .content-footer > p {
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  
  section > h1 {
    margin-top: 2em;
  }
  
  .content-footer,
  .tophead-heading,
  .tophead-intro {
    text-align: center;
  }
  
  .tophead {
    padding: 3em 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid 1em #ffcf33;
  } 
  
  .tophead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
  }
  
  
  /* .about-section > p,
  .hobbies > p,
  .content-footer > p {
    font-weight: 300;
    letter-spacing: 0.05em;
  } */
  
  /* h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
  } */
  
  /* .about-section,
  .hobbies-section,
  .course-section,
  .plan-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  
  /* .social > li {
    display: inline-block;
    margin: 0 5px;
  } */
  
  /* a {
    font-weight: bold;
    text-decoration: none;
    color: #f1c863;
  } */
  
  /* @media only screen and (max-width: 500px) {
     .tophead {
      padding: 3em 0;
    } 
     .tophead-heading {
      font-size: 3em;
    } 
  } */